<?xml version="1.0" encoding="utf-8" ?>
<ServerConfig>  
  <SendTimeOut>10000</SendTimeOut>
  <SendBufferSize>4096</SendBufferSize>
  <ReceiveBufferSize>4096</ReceiveBufferSize>
  <MaxConnectionNumber>20000</MaxConnectionNumber>
  <MaxAcceptOps>3</MaxAcceptOps>
  <SessionTimeOut>600000</SessionTimeOut>
  
  <Listeners>
    <Listener>
      <Port>11110</Port>
      <BackLog>128</BackLog>
    </Listener>
  </Listeners>
  
</ServerConfig>